/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Base Styles */

/* Using an Augmented Fourth modular scale:
* https://www.modularscale.com/?1.2&em&1.414
*/

/* Screen Size = 320px */

html {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

header,
footer {
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.414em;
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

a {
  text-decoration: none;
}

.page-link a {
  color: blue;
}

footer a {
  color: pink;
}

footer a:hover,
a:hover {
  color: hotpink;
}

footer a:active,
a:active {
  color: red;
}

nav a {
  color: black;
}

nav a:hover {
  background-color: #ddd;
}

a {
  color: #999;
}

nav a:active {
  background-color: #888;
  color: white;
}

#slogan {
  background-color: blue;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
  font-style: oblique;
  line-height: 1.2em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  text-align: center;
}

#home article {
  padding: 0.5em;
}


footer {
  font-size: 0.707em;
  line-height: 1.2em;
  padding: 0.5em;
}

#emmanuel-logo {
  width: 6em;
}

#robo {
  width: 7em;
}

#products-description .prod-img {
  padding: 0.5em;
  width: 80%;
}

#builder {
  text-align: center;
  width: 10em;
}

#telephone {
  width: 7em;
  margin-left: 10em;
}

#contact-description i {
  display: block;
}

#contact-description p {
  line-height: 1.3em;
  text-align: right;
  margin-right: 2em;
}

#products-description .page-link,
#contact-description .page-link {
  margin-top: 0.5em;
}



/* Layout Styles */

#social-media {
  display: none;
}

nav ul {
  display: flex;
}

nav ul a {
  display: flex;
  flex-direction: column;
}

@supports (display:flex) {
  nav ul li {
    flex: 1 0 auto;
    padding: 0.5em;
    text-align: center;
  }
}

#emmanuel-logo {
  margin-bottom: 1em;
  order: -1;
}

#contact-description {
  margin-bottom: 1em;
}

#about-description,
#products-description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

#products-description {
  grid-template-columns: 1fr 1fr 1fr;
}

#robo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#about-description p {
  grid-column: 1 / -1;
}

#builder {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 3em 0 0.5em 4.5em;
}

#products-description h2,
#contact-description h2 {
  font-size: 1.1em;
  font-style: oblique;
  font-weight: bold;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
}

#contact-description h2 {
  margin: 3em 0 0.5em 1em;
  text-align: left;
}

#products-description .prod-img {
  grid-row: 3 / 4;
}

#products-description p {
  grid-column: 1 / -1;
  padding-left: 4.5em;
}

@supports (display:grid) {
  #about-description h2 {
    font-size: 1.7em;
    font-style: italic;
  }

  #about-description p {
    padding: 0.5em;
    margin-left: 1em;
  }

  .page-link {
    color: blue;
  }

}
